html, body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: darkgray;
    background-image: url(jdmgrainy.webp);
    background-size: cover;
    background-repeat: no-repeat;
}


h1 {
    text-align: center;
    font-size: 50px;
    padding: 0%;
    background-color: gray;
}

h2 {
    text-align: center;
    font-size: 30px;
    padding:0%;
    background-color: lightgrey;

}

.login-box {
    border-style: solid;
    float: right;
    border-width: 5px;
    text-align: center;
    border-radius: 10%;
    border-color: gray;
    background-color: darkgrey;
    z-index: -1;

}

header {
    justify-content: left;
    margin: 0;
    z-index: 5;
}

.fugazi-auto-logo {
    width: 160px;
    height: 100px;
}

.carNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navNav {
    border-style: solid;
    border-color: black;
    float: right;

}

.cappuccinoLink{
    text-align: left;
    text-decoration: none;
    color:black;
}

.mushroomLink {
    text-align: right;
    color:black;
    text-decoration: none;
}

.grainGIF {
    background-image: url(staticGlitchGIF.gif);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}